<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Portfolio</title>
</head>
<body>
    <!-- Header Section -->
    <%- include('../partials/header'); %>

    <!-- Landing Section -->
    <%- include('../partials/landing'); %>

    <main>

        <!-- About Me Section -->
        <%- include('../partials/about'); %>
        
        <!-- Experience Section -->
        <%- include('../partials/experience'); %>

        <!-- My Portfolio Section  -->
        <%- include('../partials/portfolio'); %>

        <!-- Services Section -->
        <%- include('../partials/services'); %>

        <!-- Contact Me Section -->
        <%- include('../partials/contact'); %>

    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <!-- secript file -->
    <%- include('../partials/script'); %>

</body>
</html>